body{ 
    margin: 0px;
    padding: 0px;
    font-family: 'Yeseva One', cursive;
}
h1{
    font-size: 50px;
    padding-left: 10px;
    line-height: 35px;
}
.border{
    border-left: 4px rgba(240, 71, 71, 0.979) solid;
}
.orange-color{
    color: orange;
    padding-left: 10px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
    padding-left: 5%;
    padding-top: 0px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(240, 71, 71, 0.979);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}
h2{
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}
.year{
    color: orange;
}
.mission{
    display: flex;
    width: 100%;
}
.img img{
    width: 45%;
    display: block;
}
.div{
    margin: 10px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
#one{
    background-color: lightgreen;
    padding-left: 20px;
    
}
#two{
    background-color: lightpink;
    padding-left: 20px;
}
#three{
    background-color: palegoldenrod;
    padding-left: 20px;
}
.div{
    border-radius: 15px;
}
section{
    display: flex;
}
h3{
    line-height: 30px;
}
.develop{
    width: 50%;
    padding-top: 10%;   
}
.half-width img{
    width: 80%;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(240, 71, 71, 0.979);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}
.global-community{
    width: 50%;
    padding-top: 10%; 
}
.half-width img{
    width: 80%;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(240, 71, 71, 0.979);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
}
h2{
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}
.year{
    color: orange;
}
.mission{
    display: flex;
    width: 100%;
}
.img img{
    width: 45%;
    display: block;
}
.div{
    margin: 10px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
#one{
    background-color: lightgreen;
    padding-left: 20px;
    
}
#two{
    background-color: lightpink;
    padding-left: 20px;
}
#three{
    background-color: palegoldenrod;
    padding-left: 20px;
}
.round{
    border-radius: 40%;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
section{
    display: flex;
   
}
footer h4{
    color: lightcyan;
    font-size: 20px;
}
footer p{
    color: lightcyan;
   font-size: 10px;
}
.footer{
    text-align: center;
    background-color: rgba(15, 8, 8, 0.952);
    padding: 20px 0px 20px 0;
}